<%= form_for @note do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :all_tags %><br>
    <%= f.text_field :all_tags %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
