<div class="note-form col-md-8 col-md-offset-2">
<%= simple_form_for @note do |f| %>
  <%= f.input :title %>
  <%= f.input :description, as: :text, :input_html => { :rows => 5 }%>

  <%= f.label :all_tags, "select a tag below" %><br>
  <% @tags= Tag.all %>
    <% if @tags %>
    <% @tags.each do |tag| %>
      <div>
          <%= check_box_tag "note[tag_ids][]", tag.id, @note.tags.include?(tag) %>
          <%= tag.name %>
      </div>
    <% end %>
  <% end %>
  <%= f.label :all_tags, "custom Tags(Add comma if more than one tag)" %><br>
  <%= f.text_field :all_tags %>
  <br>
  <br>

  <div class="field">
    <%= f.collection_check_boxes(:note_permission_ids, NotePermission.all, :id, :shared_user, checked: @note.note_permissions.map(&:id)) do |note_user| %>
      <%= note_user.check_box %> <%= note_user.label %>
    <% end %>
  </div>
  <%= f.button :submit %>
<% end %>
</div>
