<!DOCTYPE html>
<html>
  <head>
    <title>SimpleNotekeepingApplication</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/assets/Tile.png" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/header" %>
    <% if !flash[:notice].nil? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if !flash[:alert].nil? %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
